* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif; }

.titulos, .intro .intro__titulo, .branding .branding__titulosServicios, #branding .branding__titulosServicios, #grafico .grafico__titulosServicios, #web .web__titulosServicios, #redes .redes__titulosServicios {
  color: #a00782;
  font-size: 36px;
  font-family: 'Oleo Script', cursive; }

.subtitulos, .intro .intro__subtitulo {
  color: #8e5f71;
  font-family: 'Poppins', sans-serif;
  font-weight: 10px;
  font-size: 18px; }

.texto__contenido, .bienvenida .bienvenida__texto .texto__contenido, .sobreMiIntro .sobreMiIntro__contenido {
  font-family: 'Poppins', sans-serif;
  color: #636363; }

/* header */
.header {
  padding: 15px;
  display: flex;
  background-image: url("../imagenes/fondoBanner.jpg");
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  color: #636363; }
  .header .header__logo {
    max-width: 50%; }
  .header .header__nav .nav__lista {
    list-style: none;
    display: flex;
    padding: 20px; }
    .header .header__nav .nav__lista .nav__item {
      padding: 10px;
      font-family: 'Poppins', sans-serif;
      font-size: 16px; }
      .header .header__nav .nav__lista .nav__item .nav__link {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: #636363; }
        .header .header__nav .nav__lista .nav__item .nav__link.nav__item--active {
          color: #a00782; }

/* banner_index*/
.banner {
  padding: 40px;
  background-color: #FFDDDD;
  margin-bottom: 10px; }
  .banner .banner__titulo {
    color: #a20078;
    font-size: 36px;
    font-family: 'Oleo Script', cursive;
    transform: translate(5px, 5px);
    padding-top: 100px; }
  .banner .banner__subtitulo {
    color: #8e5f71;
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 18px;
    letter-spacing: 1px; }
  .banner .banner__boton {
    background-color: #D89CB2;
    height: 35px;
    width: 22%;
    text-align: center;
    color: white;
    padding: 5px; }
  .banner .banner__boton:hover {
    background-color: #8e5f71;
    color: white; }
  .banner .banner__imagen {
    padding-block-end: 80px; }

/* index */
.bienvenida {
  padding: 70px; }
  .bienvenida .bienvenida__imagen {
    padding-block-end: 50px; }
  .bienvenida .bienvenida__texto .texto__titulo {
    color: #a00782;
    font-size: 36px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    padding-top: 50px; }
  .bienvenida .bienvenida__texto .texto__subtitulo {
    color: #8e5f71;
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 18px;
    letter-spacing: 1px; }
  .bienvenida .frases__titulos {
    color: #a20078;
    font-size: 36px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    text-align: center;
    padding-block-start: 70px; }
  .bienvenida .frases__subtitulos {
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #636363; }

/* footer */
.footer {
  background-image: linear-gradient(#fadbdc, #D89CB2);
  list-style: none;
  padding: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  color: #636363; }
  .footer .footer__titulos {
    color: #8e5f71;
    font-family: 'Poppins', sans-serif;
    font-weight: bold; }
  .footer .footer__link {
    font-family: 'Poppins', sans-serif;
    color: #636363;
    text-decoration: none;
    line-height: 3px;
    color: #636363; }
  .footer .footer__copy {
    text-align: center;
    padding: 15px;
    color: #636363; }

/* sobre mi */
.sobreMiIntro {
  padding: 100px 40px 100px 40px; }
  .sobreMiIntro .sobreMiIntro__titulo {
    color: #a00782;
    font-size: 36px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    padding-top: 50px; }
  .sobreMiIntro .sobreMiIntro__subtitulo {
    color: #8e5f71;
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 18px;
    letter-spacing: 1px; }

.sobreMi {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding: 10px 40px 100px 40px;
  flex-wrap: wrap;
  color: #636363; }
  .sobreMi .sobreMi__item1 {
    align-content: center;
    display: inline-block;
    text-align: center; }
    .sobreMi .sobreMi__item1 .item1__subtitulos {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: 10px;
      font-size: 18px;
      letter-spacing: 1px; }
  .sobreMi .sobreMi__item2 {
    align-content: center;
    display: inline-block;
    text-align: center; }
    .sobreMi .sobreMi__item2 .item2__subtitulos {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: 10px;
      font-size: 18px;
      letter-spacing: 1px; }
  .sobreMi .sobreMi__item3 {
    align-content: center;
    display: inline-block;
    text-align: center;
    height: 30%; }
    .sobreMi .sobreMi__item3 .item3__subtitulos {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: 10px;
      font-size: 18px;
      letter-spacing: 1px; }

.datos {
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: #F1C6C7;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 20px;
  padding: 30px 30px 70px 70px;
  padding-top: 70px; }
  .datos .datos__item1 {
    text-align: left;
    padding-top: 40px;
    width: 500px; }
    .datos .datos__item1 .item1__titulos {
      color: #a00782;
      font-family: 'Oleo Script', cursive;
      font-size: 36px;
      text-align: left;
      line-height: 40px; }
    .datos .datos__item1 .item1__subtitulos {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: 10px;
      font-size: 18px;
      text-align: left; }
  .datos .datos__item2 {
    align-items: initial;
    display: inline-block;
    text-align: left;
    width: 300px; }
    .datos .datos__item2 .item2__preguntas {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 15px;
      text-align: left; }
    .datos .datos__item2 .item2__respuestas {
      font-family: 'Poppins', sans-serif;
      color: #878787;
      font-size: 15px;
      font-style: italic;
      text-decoration: underline;
      text-align: left; }
  .datos .datos__item3 {
    align-content: flex-end;
    align-items: initial;
    text-align: left;
    width: 300px; }
    .datos .datos__item3 .item3__preguntas {
      color: #8e5f71;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      font-size: 15px;
      text-align: left; }
    .datos .datos__item3 .item3__respuestas {
      font-family: 'Poppins', sans-serif;
      color: #878787;
      font-size: 15px;
      font-style: italic;
      text-decoration: underline;
      text-align: left; }

.habilidades {
  padding: 70px; }
  .habilidades .habilidades__titulos {
    color: #a00782;
    font-family: 'Oleo Script', cursive;
    font-size: 28px;
    text-align: center; }

.tabla .tabla__titulosTabla {
  color: #a00782;
  font-family: 'Oleo Script', cursive;
  font-size: 27px;
  text-align: left;
  height: 20px;
  text-align: center; }

.tabla .tabla__respuestasTabla {
  color: #636363;
  font-family: 'Poppins', sans-serif;
  font-weight: 10px;
  font-size: 16px;
  text-align: center;
  padding: 15px; }

/* sevicios */
.intro {
  padding: 50px; }
  .intro .intro__titulo {
    font-size: 36px;
    text-align: center; }
  .intro .intro__subtitulo {
    text-align: center; }

.servicios {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap; }
  .servicios .servicios__item1, .servicios .servicios__item2, .servicios .servicios__item3, .servicios .servicios__item4 {
    color: #8e5f71;
    align-content: center;
    display: inline-block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 300px;
    padding-top: 20px; }

#branding {
  padding: 90px 90px 90px 90px;
  padding-block-end: 70px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #636363; }

#grafico {
  padding: 70px 90px 90px 90px;
  padding-block-end: 70px;
  background-color: #FFDDDD;
  font-family: 'Poppins', sans-serif;
  color: #636363; }

#web {
  padding: 70px 90px 90px 90px;
  padding-block-end: 70px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: #636363; }

#redes {
  padding: 70px 90px 90px 90px;
  padding-block-end: 70px;
  background-color: #FFDDDD;
  font-family: 'Poppins', sans-serif;
  color: #636363; }

.frase {
  padding: 70px 20px 70px 20px; }
  .frase .frases__titulos {
    text-align: center; }
  .frase .frases__subtitulos {
    text-align: center; }

/* trabajos*/
.introTrabajos {
  padding: 50px;
  text-align: center;
  padding-top: 90px; }

#grillaTrabajos {
  display: grid;
  grid-template-columns: 1fr 40% 40%;
  grid-template-rows: 200px 200px;
  grid-template-areas: "koahPortada koah koah2" "koahPortada koah3 koah4";
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  padding: 40px; }

#koahPortada {
  grid-area: koahPortada; }

#koahPortada:hover {
  transform: translate(1px, -15px); }

.img {
  max-width: 100%; }

#koah {
  grid-area: koah;
  max-width: 100%;
  height: auto; }

#koah:hover {
  transform: translate(1px, -15px); }

#koah2 {
  grid-area: koah2;
  max-width: 100%;
  height: auto; }

#koah2:hover {
  transform: translate(1px, -15px); }

#koah3 {
  grid-area: koah3;
  max-width: 100%;
  height: auto; }

#koah3:hover {
  transform: translate(1px, -15px); }

#koah4 {
  grid-area: koah4;
  max-width: 100%;
  height: auto; }

#koah4:hover {
  transform: translate(1px, -15px); }

/* Contacto*/
.bannerContacto {
  padding: 40px;
  padding-top: 40px;
  height: 200px;
  background-color: #FFDDDD; }

.contacto__intro {
  padding: 70px;
  font-family: 'Poppins', sans-serif; }

.contacto__formulario {
  background-color: #FFDDDD;
  padding: 30px; }

input {
  padding: 5px;
  margin: 5px;
  width: 100%; }

/* Responsive*/
/*extra small divices celulares*/
@media only screen and (max-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "nav" "contenido" "footer"; }
  .header {
    grid-area: header;
    background-color: #636363;
    flex-grow: initial; }
  main {
    grid-area: contenido; }
  .footer {
    grid-area: footer;
    background-color: #D89CB2; }
  .nav__item {
    grid-area: nav;
    flex-direction: row; } }

/*tablets*/
@media only screen and (min-width: 600px) {
  #grilla {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "contenido" "footer"; }
  .header {
    grid-area: header;
    background-color: #636363; }
  main {
    grid-area: contenido; }
  .footer {
    grid-area: footer;
    background-color: #D89CB2; } }
